@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #97C1FF;

}

h1 {
    color: #002A68;

    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input {
    width: 100%;
    height: 54px;
    font-size: 20px;
    align-items: center;
    border: none;
    margin: 1%;
    border-radius: 20px;
    background: #ABCDFF;
}